
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model HelloWorld.Models.MessageModel

<h2>Index</h2>
<div>
    @ViewBag.MessageString
    <br />
    @Model.Welcome
</div>

